/* Resets */
*{
    font-size: 25px;
    font-family: sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* Navigation */
.navigator{
    background-color: #393E41;
    font-size: 1em;
    min-width: 100vw;
    height: 10vh;
    text-align:center;
}

.navigator ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
}

.navigator ul li {
    margin-right: 30px;
}

.navigator ul li a{
   text-decoration: none;
   color: #f5f6fa;
   padding: 10px;
   transition: all 0.5s;
}

.navigator ul li a:hover{
    color: #B0413E;
}

.navigator ul li a:focus{
    box-shadow: 0px 0px 5px 2px rgba(151,155,141,0.30) inset;
}
/* --------- */

/* main content */

.main-content{
    max-width: 100vw;
    max-height: 90vh;
    overflow-y:scroll;
}

.content{
    height: 90vh; 
    border: 3px solid red;
    background-color: gray;
}

#home {
    background-color: #979b8d;
    overflow: hidden;
    
}

#home section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20%;
}

#home section p {
    font-size: 1.7rem;
    color: #f4f4ff;
    letter-spacing: 12px;
    /* text-shadow: -10px 0px 5px rgba(0, 0, 0, 0.5); */
}

#home section p:nth-of-type(1) {
    animation-name: slide-left;
    animation-duration: 4s;
    animation-direction: alternate;
}

#home section p:nth-of-type(2){
    animation-name: appear;
    animation-duration: 4s;
    animation-direction: alternate;
    
}

#home section p:nth-of-type(3) {
    animation-name: slide-right;
    animation-duration: 4s;
    animation-direction: alternate;
}

#home section p span {
    font-size: 3.5rem;
    color: #b0413e;
}

#home section p a {
    font-size: 1.7rem;
    text-decoration: none;
    color: #f4f4ff;
}
#home section p a:hover {
    color: #648de5;
}



/* --------- */

/* Footer */

/* --------- */


/* Animation */

@keyframes slide-left {
    from {
        margin-left: -2000px;
    }

    to {
        margin-left: 0;
    }
}

@keyframes slide-right {
    from {
        margin-right: -2000px;
    }

    to {
        margin-right: 0;
    }
}

@keyframes appear {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}
/* --------- */

