#about-section {
  height: 100vh;
}

#about-section .about-section-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#about-section .briefing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 5%;
  width: 90ch;
}

#about-section .briefing div {
  /* padding: 30%; */
  /* color: #b0413e; */
  color: white;
  /* background-color: rgba(0, 0, 0, 0.65); */
  flex-basis: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-section .briefing div p,
#about-section .briefing div h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 1px #757575, 1px 2px 1px #757575, 1px 3px 1px #757575;
}

#about-section .briefing div h2::first-letter {
  color: #b3f20d;
}

#about-section .briefing div p:nth-child(2) {
  padding: 20px 0;
}

/* Animation */

@keyframes moving-bg {
  100% {
    background-position-x: -20000px;
    /* filter: hue-rotate(720deg); */
  }
}

/* section 2 */

#about-section .technologies {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* height: 100dvh; */
}

#about-section .technologies article h3::first-letter {
  color: #b3f20d;
}

#about-section .technologies .logo {
  height: 100px;
  width: 100px;
  transition: filter 0.7s ease-in-out;
}

#about-section .technologies .logo {
  filter: grayscale(100%);
}

#about-section .technologies .logo:hover {
  filter: grayscale(0%);
}

#about-section .technologies > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  /* background-color: rgba(0, 0, 0, 0.65); */
}

#about-section .technologies > article h2 {
  font-size: 1.7rem;
  text-shadow: 1px 1px 1px #757575, 1px 2px 1px #757575, 1px 3px 1px #757575;
  color: #b3f20d;
}

#known-tech {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60ch;
}
