:root {
  --small-mobile-screen: 468px;
  --mobile-screen: 768px;
  --tablet-screen: 1280px;
}

* {
  font-size: 25px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ecf0f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .content {
  height: 100vh;
  border: 3px solid red;
  background-color: gray;
} */

body {
  background: url(../data/bg-meteor.jpg) no-repeat;
  background-size: cover;
  transition: background 1s ease-in;
}

.fp-section {
  height: auto !important;
}

.fp-slidesNav ul {
  text-align: center;
}

.fp-slidesNav ul li a.active > span,
.fp-slidesNav ul li a > span:last-child {
  background-color: white;
}
