.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: black; */
  /* background-image: url(../data/mario-bg.gif);
  background-repeat: no-repeat;
  background-size: cover; */
}

.contact > h2 {
  padding: 30px 50px;
  font-size: 3rem;
  text-align: center;
}

.contact .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
  padding: 0 25%;
}

.contact .contact-content article:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 55%;
  width: 40ch;
}

.contact .contact-content article:nth-child(2) div:first-child p,
.contact .contact-content article:nth-child(2) div:first-child p span {
  font-size: 1.3rem;
}

.contact .contact-content div {
  padding: 20px 0;
}

.contact .contact-content h3 {
  font-size: 1.5rem;
}
