.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: black; */
  /* background-image: url(../data/mario-bg.gif);
  background-repeat: no-repeat;
  background-size: cover; */
}

.contact > h2 {
  padding: 30px 50px;
  font-size: 3rem;
  text-align: center;
}

.contact .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
  padding: 0 25%;
}

.contact .contact-content article:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 55%;
  width: 40ch;
}

.contact
  .contact-content
  article:nth-child(2)
  div:nth-child(2)
  h3::first-letter {
  color: #b3f20d;
}

.contact .contact-content article:nth-child(2) div:nth-child(2) div {
  display: inline;
}

.contact .contact-content article:nth-child(2) div:first-child p,
.contact .contact-content article:nth-child(2) div:first-child p span {
  font-size: 2rem;
}

.contact .contact-content div {
  padding: 20px 0;
}

.contact .contact-content h3 {
  font-size: 1.5rem;
}

/* #contact-img-container:hover {
  filter: blur(10%);
} */

#contact-img-container img:nth-of-type(1),
#contact-img-container img:nth-of-type(2),
#contact-img-container img:nth-of-type(3) {
  position: absolute;
  filter: grayscale(100%) blur(15px);
  /* filter: ; */
  transition: 0.5s ease-in-out;
}

#contact-img-container img:nth-of-type(1) {
  width: 100px;
  top: 30%;
  right: 85%;
}

#contact-img-container img:nth-of-type(1):hover,
#contact-img-container img:nth-of-type(2):hover,
#contact-img-container img:nth-of-type(3):hover {
  filter: grayscale(100%) blur(0px);
}

#contact-img-container img:nth-of-type(2) {
  width: 100px;
  top: 50%;
  right: 75%;
}
#contact-img-container img:nth-of-type(3) {
  width: 145px;
  top: 30%;
  right: 65%;
}
