#home {
  background-color: #c5c7c0;
  overflow: hidden;
  background-image: url(../gif/gif-background.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

#home section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12%;
  height: 100vh;
  background: rgba(34, 34, 34, 0.7); /* removes background focus */
}

#home section p {
  font-size: 1.7rem;
  color: #f4f4ff;
  letter-spacing: 12px;
  text-shadow: -10px 0px 5px rgba(0, 0, 0, 0.5);
}

#home section p:nth-of-type(1) {
  animation-name: slide-left;
  animation-duration: 4s;
  animation-direction: alternate;
}

#home section p:nth-of-type(2) {
  animation-name: appear;
  animation-duration: 7s;
  animation-direction: alternate;
}

#home section p span {
  font-size: 4.5rem;
  color: #b0413e;
}

/* #fancy-bg {
  width: 100vw;
} */
/* Animation */

@keyframes slide-left {
  from {
    margin-left: -2000px;
  }

  to {
    margin-left: 0;
  }
}

@keyframes slide-right {
  from {
    margin-right: -3000px;
  }

  to {
    margin-right: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
/* --------- */
