#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12%;
  height: 100vh;
  overflow: hidden;
  /* background: rgba(34, 34, 34, 0.75); removes background focus */
}

#home h2 {
  font-size: 1.7rem;
  letter-spacing: 12px;
  /* text-shadow: -10px 0px 5px rgba(0, 0, 0, 0.5); */
  text-shadow: 1px 1px 1px #757575, 1px 2px 1px #757575, 1px 3px 1px #757575;
}

#home h2:nth-of-type(1),
#home h2:nth-of-type(2) {
  animation-name: appear;
  animation-duration: 7s;
  animation-direction: alternate;
}

#home h2 span {
  font-size: 4.5rem;
  color: #b3f20d;
}

#home a {
  border-radius: 10px;
  margin-top: 15px;
  background-color: transparent;
  color: white;
  padding: 15px 50px;
  border: 1px solid #b3f20d;
  animation-name: appear;
  animation-duration: 10s;
  animation-direction: alternate;
  transition: background 0.5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

#home a:hover {
  background-color: #b3f20d;
  border-color: white;
  color: #4c0df2;
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-btn span {
  color: white;
  position: relative;
  top: 10px;
}

/* Animation */
/* 
@keyframes slide-left {
  from {
    margin-left: -2000px;
  }

  to {
    margin-left: 0;
  }
}

@keyframes slide-right {
  from {
    margin-right: -3000px;
  }

  to {
    margin-right: 0;
  }
} */

@keyframes appear {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
/* Media Queries */
