.projects {
  height: 100vh;
  background-image: url(../data/mac-bg1.jpg);
  background-size: cover;
  /* background-position: 100% 50%; */
}

.projects h1 {
  padding: 30px 50px;
  font-size: 3rem;
  text-align: center;
}

#items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 80vh;
  width: 70vw;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
}

.github-item {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 20px;
  width: 320px;
  height: 200px;
  border-radius: 10px;
  margin: 20px;
  overflow-y: scroll;
  word-break: break-word;
  background-color: white;
}

.github-item h2 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.github-item p {
  margin-bottom: 10px;
  font-size: 0.7rem;
}

.github-item p:nth-child(2) {
  text-transform: capitalize;
}
