.projects {
  height: 100vh;
  /* background-image: url(../data/mac-bg1.jpg);
  background-size: cover;
  background-position: 100% 100%; */
}

.projects h2 {
  padding: 30px 50px;
  font-size: 3rem;
  text-align: center;
}
